* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
    background-color: #acacac;
}

span img{
    padding: 1rem;
    width : 200px;
    padding-top: 3rem;
    padding-left: 3rem;
    margin-right: 500px;
}

h1 {
    font-family: "Roboto", serif;
    text-align: center;
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 1rem;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: #000 solid 3px;
}

section p {
	color: #fff;
	padding: .5rem;
	text-align: center;
	border: #000 solid 3px;
}

nav {
    width: 100%;
	margin: 1rem auto;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
}

.stuff {
	margin: 1rem;
	border: 5px solid rgb(0  0  0 / 0.1);
	background-color: rgb(95, 95, 95);
	height: fit-content;
    flex-wrap: wrap;
    flex-direction: row;
}

.stuff section{
    padding: 1rem;
    width: 100%;
}

footer{
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #9e9e9ecb;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem;
        padding: 1rem;
        display: flex;
        flex: 1 1 100%;
		margin-bottom: 60px;
	}

    .stuff section{
        width: 50%;
    }

	#courseWork {
		width: 100%;
	}
}
